.banner {
    background-image: url(../../images/background.jpg);
 color: #fff;
                                   padding: 100px 0;
       height: 250px;

       background-size: contain;
    background-position: top;
}

  

.banner h1 {
            font-size: 45px;
}

.banner


 h2 {
           font-size: 40px;


       font-weight: 600;



                          opacity: 0.9;



    margin-bottom: 22px;



    color: #333;
}
