.btn-blue {
background-color: #4F54C7;
               


















                              padding: 18px 27px;
    border-radius: 8px;
    color: #ffffff;


                             font-weight: 600;







  font-family: 'Helvetica', sans-serif; }

a   
 {
    text-decoration:  


    none;
    color: unset;
}
